<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div th:fragment="background-style">
  <div class="background-image">
    <div class="bg-overlay">
    </div>
  </div>
  <div sec:authorize="hasRole('ROLE_DOCTOR')" th:insert="fragments :: doctorNav"></div>
  <div sec:authorize="hasRole('ROLE_ADMIN')" th:insert="fragments :: adminNav"></div>
  <div sec:authorize="hasRole('ROLE_PATIENT')" th:insert="fragments :: patientNav"></div>
</div>

  <div th:fragment="adminNav">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <div class="navbar-nav">
          <a class="nav-link" href="/web/admin/myDetails">My Account</a>
          <a class="nav-link" href="/web/admin/all-doctors">Doctors</a>
          <a class="nav-link" href="/web/admin/all-appointments"> All Appointments </a>
          <a class="nav-link" href="/web/admin/today-appointments">Appointments For Today</a>
        </div>
        <div class="navbar-nav nav justify-content-end">
          <div class="col-m-auto">
            <div class="p-2"><h6 class="navbar-text">Logged in as ADMIN</h6></div>
          </div>
          <div class="col-m-auto">
            <div class="p-2"><a class="btn btn-outline-light" href="/logout_now"><h6>Log Out</h6></a></div>
          </div>
        </div>
      </div>
    </nav>
  </div>


  <div th:fragment="doctorNav">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <div class="navbar-nav">
          <a class="nav-link" href="/web/doctor/myDetails">My Account</a>
          <a class="nav-link" href="/web/doctor/all-appointments"> All Appointments </a>
          <a class="nav-link" href="/web/doctor/today-appointments">Upcoming Appointments</a>
          <a class="nav-link" href="/web/doctor/past-appointments">Past Appointments</a>
          <a class="nav-link" href="/web/doctor/schedule">Schedule</a>
          <a class="nav-link" href="/web/doctor/generate">Generate Appointments</a>
        </div>
        <div class="navbar-nav nav justify-content-end">
          <div class="col-m-auto">
            <div class="p-2"><h6 class="navbar-text">Logged in as DOCTOR</h6></div>
          </div>
          <div class="col-m-auto">
            <div class="p-2"><a class="btn btn-outline-light" href="/logout_now"><h6>Log Out</h6></a></div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div th:fragment="patientNav">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <div class="navbar-nav">
          <a class="nav-link" href="/web/patient/myDetails">My Account</a>
          <a class="nav-link" href="/web/patient/appointments">My Appointments</a>
          <a class="nav-link" href="/web/patient/available-appointments">Browse Available Appointments</a>
        </div>
        <div class="navbar-nav nav justify-content-end">
          <div class="col-m-auto">
            <div class="p-2"><h6 class="navbar-text">Logged in as PATIENT</h6></div>
          </div>
          <div class="col-m-auto">
            <div class="p-2"><a class="btn btn-outline-light" href="/logout_now"><h6>Log Out</h6></a></div>
          </div>
        </div>
        </div>
    </nav>
  </div>
</body>
</html>