<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments :: doctorNav"></div>
<div class="container">
    <div class="d-flex justify-content-center">
        <h1>Edit Schedule</h1>
    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-center">
        <form action="#" th:action="@{/web/doctor/schedule/edit/test(id=${schedule.id})}" th:object="${schedule}" method="post">
            <div class="mb-3">
                <label for="inputDayOfWeek" class="form-label">Day Of Week</label>
                <input type="text" th:field="*{dayOfWeek}"  class="form-control" id="inputDayOfWeek" value="dayOfWeek" >
            </div>
            <div class="mb-3">
                    <label for="inputStartHour" class="form-label">Start Hour</label>
                    <input type="text" th:field="*{startHour}" class="form-control" id="inputStartHour" value="startHour">
                </div>
                <div class="mb-3">
                    <label for="inputEndHour" class="form-label">End Hour</label>
                    <input type="text" th:field="*{endHour}" class="form-control" id="inputEndHour" value="endHour">
                </div>
                <div class="mb-3">
                    <label for="inputLunchTime" class="form-label">Lunch Time</label>
                    <input type="text" th:field="*{lunchTime}" class="form-control" id="inputLunchTime" value="lunchTime">
                </div>

            <input type="submit" value="Submit" class="btn btn-primary" role="button"/>


        </form>
    </div>
</div>
</body>
</html>